In [ ]:
# Understanding of Variable

In [8]:
a = 5

b = 'Nature'

In [11]:
print(a)

print(b)

5
Nature

In [14]:
print('Amit')

Amit

In [15]:
# Data Types:

In [ ]:
# 1 Mutable data type

In [ ]:
# 2 Immutable data type

In [ ]:
# Number , String , List , Tuple ,Dictionary

In [ ]:
# How to Define String

In [16]:
name1 = 'mahesh' #Single quotes string 
print(name1)

mahesh

In [17]:
name2 = "Amit" #Double quote string
print(name2)

Amit

In [19]:
name3 = '''Suresh''' # Triple quote string
print(name3)

Suresh

In [ ]:
# Introduction to String Method
#To verify the and validate the data type

In [26]:
type(name1)

str

In [27]:
type(name2)

str

In [28]:
type(name3)

str

In [ ]:
# String data define as 'str'

In [29]:
full_name = 'amit kumar'

In [30]:
print(full_name)

amit kumar

In [32]:
# Correct the name format means first letter should be in caps.

In [31]:
print(full_name.title()) # it will work as initcap of oracle

Amit Kumar

In [ ]:
#Req:To print the fullname in capital case

In [33]:
print(full_name.upper()) # To print full name in upper case

AMIT KUMAR

In [34]:
print(full_name.lower()) # To print full name in lower case

amit kumar